body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #333;
    color: #fff;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffcc33;
}

h1{
    border: dashed 1px #ffcc33;
    background: #000;
    font-size: 3em;
    padding: 1em;   
}

ul{
    border: solid 4px #bce3ed;
    background: #33bcde;
    padding: 20px 20px 20px 40px;
    margin: 5% 0%;  
}

a{
    color: #ffcc33;
}

strong{
    color: pink;
}